# Compile class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*

# Others files
.idea
*.iml